/* font-family: "Roboto Mono", monospace; */
/* font-family: "Inconsolata", monospace; */
/* NORMALIZACION, el aterisco selecciona a todo */
* {
    margin: 0;
    padding: 0;
    /*Esto mantiene el ancho y el alto a pesar del border y padding*/
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    /* esto saca los puntos de las listas */
    list-style: none;
    /* esto saca el subrayado de los enlaces */
    text-decoration: none;
    color: white;
}

header {
    /* esto deja al header fijo en la parte superior */
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    left: 10vw;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 10;
}

.navlist {
    /* esto sirve para que los elementos de la lista se pongan en linea */
    display: flex;
    margin: 8px 0;
}

.navlist a {
    /* esto separa las palabras */
    margin: 0 60px;
    /* tamaño de letras */
    font-size: 23px;
    /* esto es un subrayado transparete */
    border-bottom: 2px solid transparent;
    /* esto inicializa las transiciones */
    transition: all .5s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

body {
    background-color: rgb(63, 56, 56);
}

.pie {
    /* fija la posicion abajo a la derecha con un margen de 15px */
    position: fixed;
    bottom: 8px;
    right: 15px;
}

.logo {
    /* le da un paddig, tamaño y grosor de fuente al texto del pie de pagina */
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all .7s linear;
    cursor: none;
    animation-name: celu;
    display: inline-block;
}

.logo:hover {
    border-bottom: 2px solid white;
    transform: translateX(-8px);
}

.container-redes {
    background: linear-gradient(90deg, #48cae4 0%, #0077b6 75%, #034ba9 100%);
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    width: 30vw;
    z-index: 10;
    left: 35vw;
    padding-top: 3px;
}

.list-redes {
    display: flex;
    margin: 5px 0;
    justify-content: space-evenly;
}

.list-redes a {
    /* esto es un subrayado transparete */
    border-bottom: 3px solid transparent;
    /* esto inicializa las transiciones */
    transition: all .5s ease;
}

.list-redes a:hover {
    /* la transicion del subrayado */
    border-bottom: 3px solid rgb(23, 21, 21);
}

#menu-toogle {
    /* esto nunca queremos que se vea, ya que solo es un checkbox para el menu icon, este es el display del input */
    display: none;
}

#menuicon {
    /* va sin display porque solamente queremos que se vea cuando el viewport width sea de celulares, es el display del icono de menu */
    display: none;
}


.menu-icon-action {
    /* esto le saca el display al label para que no se le pueda hacer click a nada (es para estar seguros), es el display del label */
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245deg, #000a23 0%, #02152b 25%, #021d34 45%, #02253d 65%, #012e46 90%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.hero-img img {
    width: 400px;
    border-radius: 100%;
    border: 8px solid #365b77;
    height: auto;
    transition: all 1s linear;
}

.hero-img img:hover {
    width: 450px;
    opacity: 0.8;
}

section {
    padding: 0 8%;
}

.hero-text h1 {
    font-size: 58px;
    margin-bottom: 20px;
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    line-height: 1;
}

.hero-text h3 {
    font-size: 22px;
    margin-bottom: 35px;
}

.hero-text h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-text ul li {
    font-size: 16px;
    margin-bottom: 3px;
    list-style: disc;
}

@media (max-width: 1280px) {

    .hero-text h3 {
        transition: .5s;
        font-size: 20px;
    }


    .hero-text h4 {
        transition: .5s;
        font-size: 14px;
    }

    .hero-text ul li {
        transition: .5s;
        font-size: 12px;
    }

    .hero-img img {
        width: 85%;
    }
}



@media (max-width: 992px) {
    .hero-text h1 {
        transition: .5s;
        font-size: 40px;
    }

    .hero-text h3 {
        transition: .5s;
        font-size: 15px;
    }

    .hero-text h4 {
        transition: .5s;
        font-size: 12px;
    }

    .hero-text ul li {
        transition: .5s;
        font-size: 10px;
    }

}

@media (max-width: 950px) {
    .navlist a {
        transition: .5s;
        margin: 0 40px;
    }
}

@media (max-width: 768px) {

    .menu-icon-action {
        display: block;
    }


    #menuicon {
        display: block;
        color: white;
        font-size: 35px;
        z-index: 11;
        cursor: pointer;
        position: fixed;
        right: 15px;
        top: 10px;
        width: auto;
        margin: 0;
        padding: 0;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;
        margin-bottom: 150px;
    }

    .hero-img {
        margin: 150px auto 0px auto;
    }

    .hero-img img {
        width: 360px;
    }

    .pie {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .logo {
        border-bottom: none;
        animation-name: celu;
        animation-duration: ininite;
    }

    .logo:hover {
        border-bottom: none;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -16px;
        width: 200px;
        height: 300px;
        background: linear-gradient(90deg, #48cae4 0%, #0077b6 75%, #034ba9 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition: all .5s linear;
    }

    .navlist a {
        display: block;
        margin: 15px 0;
    }

    header {
        z-index: 11;
        width: auto;
        right: 15px;
        padding: 0;
        margin: 0;
    }

    .hero-text ul li {
        list-style: none;
    }

    .container-redes {
        position: absolute;
        bottom: -280px;
        left: 20vw;
    }

    nav.container-redes {
        width: 60vw;
    }
}